body {
    font-family: 'Josefin Slab', serif;

}

.container-fluid{
    padding: 3% 5%;
}

#title{
background-color: lightblue;
}


#toDoTitle{
    margin-top: 30px;

}


#colHead{
    margin-top: 10px;
}

#complete{
    align: center;
}


#dummyTableText{
    margin: 10px 2px 10px 2px;
}